.page-album {
  background-color: #292929;
  display: flex;
  font-family: Epilogue , sans-serif;
}

.album {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.album-info {
  align-items: flex-end;
  background: linear-gradient(to bottom, #0e0870, #292929);
  color: white;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  gap: 30px;
  height: 25vh;
}

.imgArtist {
  margin: 100px;
  position: absolute;
  width: 220px;
}

.album-info div {
  color: white;
  font-size: 20px;
  font-weight: 700;
  gap: 30px;
  margin-left: 350px;
}

.results-album {
  background-color: #292929;
  display: flex;
  flex-direction: column;
  height: 70vh;
  padding-top: 5vh;
}
