.page-favorites {
  background-color: #292929;
  display: flex;
  font-family: Epilogue , sans-serif;
}

.favorites {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title-favorites {
  align-items: center;
  background: linear-gradient(to bottom, #0e0870, #292929);
  color: white;
  display: flex;
  font-size: 30px;
  font-weight: 700;
  height: 25vh;
  justify-content: center;
  margin: 0;
  margin-bottom: 30px;
  width: 100%;
}

.cardFavorite {
  align-items: center;
  border-bottom: 1px solid rgba(121, 121, 121, 0.322);
  color: white;
  display: flex;
  justify-content: flex-end;
  margin: 0 25%;
  padding: 30px 5%;
}

.cardFavorite audio {
  margin: 0 20px;
}

.favorite-button {
  background-color: hsla(0, 0%, 0%, 0);
  border: none;
  padding: 0;
}

.favorite-button img {
  height: 25px;
  width: 25px;
}

