.page-loading {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.gif {
  width: 70%;
}

@media screen and (min-width : 1220px ) {
  .gif {
    width: 50%;
  }
}