.login {
  align-items: center;

  /* width: 100%; */
  background: linear-gradient(to right, #2e01d1, #2a1e6e);
  display: flex;

  /* flex-direction: column; */
  height: 1260px; /* como colocar o bg na pagina inteira sem colocar como height */
  justify-content: center;
}

.tam1 {
  background-color: white;
  position: absolute;
  border: 1px solid red;
  width: 102px;
}

.form-login {
  align-items: center;
  background-color: #53535354;
  border: 0.5px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  width: 300px;
}

.input {
  background-color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 10px 15px;
}

.login-btn {
  align-items: center;
  background: linear-gradient(to right, #2e01d1, #312768);
  border: 0.5px solid white;
  border-radius: 10px;
  color: white;
  display: flex;
  font-size: 17px;
  font-weight: 700;
  height: 35px;
  justify-content: center;
  line-height: 1.2;
  text-transform: uppercase;
  width: 100%;
}

.login-btn:disabled {
  align-items: center;
  background: linear-gradient(to right, #9b9b9b, #696774);
  border: 0.5px solid white;
  border-radius: 10px;
  color: rgb(231, 231, 231);
  display: flex;
  font-size: 17px;
  font-weight: 700;
  height: 35px;
  justify-content: center;
  line-height: 1.2;
  text-transform: uppercase;
  width: 100%;
}
