@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap') ;

.login {
  align-items: center;

  /* background: linear-gradient(to right, #2e01d1, #2a1e6e); */
  background: linear-gradient(to bottom right, #0e0870, #2c2c2c);
  display: flex;
  font-family: Epilogue , sans-serif;
  height: 100vh; /* como colocar o bg na pagina inteira sem colocar como height */
  justify-content: center;
}

.logo-bg-login {
  width: 200px;
}

.name-login {
  color: white;
  margin-bottom: 90px;
}

.tam1 {
  background-color: white;
  position: absolute;
  width: 102px;
}

.form-login {
  align-items: center;
  background: linear-gradient(to bottom right, #2c2c2c, #110b5f);
  border: 0.5px solid white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px;
  width: 500px;
}

.input {
  background-color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 10px 15px;
}

.login-btn {
  align-items: center;
  background: linear-gradient(to right, #110b5f, #2c2c2c);
  border: 0.5px solid white;
  border-radius: 10px;
  color: white;
  display: flex;
  font-size: 17px;
  font-weight: 700;
  height: 38px;
  justify-content: center;
  line-height: 1.2;
  text-transform: uppercase;
  width: 60%;
}

.login-btn:disabled {
  background: linear-gradient(to right, #9b9b9b, #696774);
}
