@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap') ;

.login {
  align-items: center;
  background: linear-gradient(to bottom right, #0070EB, #333333);
  display: flex;
  font-family: Epilogue , sans-serif;
  height: 100vh; /* como colocar o bg na pagina inteira sem colocar como height */
  justify-content: center;
}

.logo-bg-login {
  width: 200px;
}

.name-login {
  color: white;
  margin-bottom: 90px;
}

.tam1 {
  background-color: white;
  position: absolute;
  width: 102px;
}

.form-login {
  align-items: center;
  background: linear-gradient(to bottom right, #333333, #0070EB);
  border: 0.5px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px 8px;
  width: 500px;
}

.input-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.input {
  border: none;
  border-radius: 10px;
  font-size: 20px;
  width: 100%;
  padding: 10px 15px;
}

.login-btn {
  align-items: center;
  background: linear-gradient(to right, #0070EB, #333333);
  border: 0.5px solid white;
  border-radius: 10px;
  color: white;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  height: 38px;
  justify-content: center;
  line-height: 1.2;
  text-transform: uppercase;
  width: 60%;
}

.login-btn:disabled {
  background: linear-gradient(to right, #9b9b9b, #696774);
}

@media ( max-width : 767.98px ) {

  .form-login {
    width: 65%; 
  }

  .input-label {
    width: 60%;
  }
}

@media ( max-width : 620px ) {
  .logo-bg-login {
    width: 150px;
  }
  
  .name-login {
    font-size: 20px;
  }

  .input {
    font-size: 16px;
  }

  .login-btn {
    font-size: 12px;
  }
}
