.music-card {
  align-items: center;
  border-bottom: 1px solid rgba(121, 121, 121, 0.322);
  color: white;
  display: flex;
  justify-content: end;
  margin: 0 90px;
  margin-left: 35%;
  margin-right: 10%;
  padding: 20px;
}

.music-card audio {
  margin: 0 20px;
}

.favorite-button {
  align-items: center;
  /* background-color: hsla(0, 0%, 0%, 0); */
  /* border: none; */
  /* height: 30px; */
  padding: 0;
  /* width: 30px; */
}

.favorite-button img {
  height: 25px;
  justify-content: center;
  /* margin: 0; */
  width: 25px;
}

.music-card:hover {
  transform: scale(1.1);
}
