.page-profile {
  background-color: #0070EB;
  color: #F6F6F6;
  display: flex;
}

.profile {
  width: 100%;

}

.profile-header-container {
  background: linear-gradient(to bottom, #0070EB, #F6F6F6);
  position: relative;
  display: flex;

}

.profile-header {
  align-items: center;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  gap: 30px;
  height: 25vh;
  width: 100%;
  justify-content: center;
}

.profile-header img {
  /* background-color: white; */
  border-radius: 100%;
  box-shadow: 2px 2px 5px rgb(163, 163, 163);
  position: absolute;
  margin: 0 30px;
  top: 60px;
  left: 30px;
  width: 220px;
}

.profile-header h2 {
  font-weight: 700;
}

.profile-card {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-info-container {
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.profile-info {
  color: #333333;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 50px;
}

.profile-btn {
  align-items: center;
  background: linear-gradient(to bottom right, #33333300, #0070EB);
  border: 0.5px solid white;
  border-radius: 23px;
  box-shadow: 1px 1px 2px rgb(163, 163, 163);
  color: white;
  display: flex;
  font-size: 17px;
  font-weight: 700;
  justify-content: center;
  padding: 18px 25px;
  text-decoration: none;
  text-transform: uppercase;
  width: 200px;
}

@media screen and (max-width : 980px ) {
  .profile-header {
    align-items: flex-end;
  }

  .profile-header img {
    margin: 0 30px;
    top: 40px;
    left: 30px;
    width: 120px;
  }

  .imgLogoWhiteback {
    right: 10vw;
    width:100px;
  }
}

@media screen and (max-width : 680px ) {

  .profile-header h2 {
    font-size: 25px;
  }

  .profile-btn {
    font-size: 14px;
    padding: 15px 10px;
    width: 200px;
  }

  .imgLogoWhiteback {
    right: 5vw;
    width:50px;
  }
}

