.page-profile-edit {
  background-color: #292929;
  display: flex;
}

.profile-edit {
  width: 100%;
}

.profile-edit-header {
  align-items: flex-end;
  background: linear-gradient(to bottom, #0e0870, #292929);
  color: white;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  gap: 30px;
  height: 25vh;
}

.img-profile {
  background-color: white;
  border-radius: 100%;
  box-shadow: 1px 5px 18px rgb(163, 163, 163);
  height: 220px;
  margin: 100px 70px;
  position: absolute;
  width: 220px;
}

.img-profile-editado {
  display: flex;
  flex-direction: column;
  margin: -70px 70px;
  position: absolute;
}

.profile-edit-header h2 {
  color: white;
  font-weight: 700;
  margin-left: 350px;
}

.profile-edit-info {
  background-color: #292929;
  color: white;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
}

.profile-edit-info button {
  margin: auto;
}

.profile-edit-inputs {
  background-color: #292929;
  display: flex;
  flex-direction: column;
  margin: 50px 400px;
  margin-left: 350px;
}

.profile-edit-inputs p {
  font-size: 13px;
}

.profile-edit-btn {
  align-items: center;
  background: linear-gradient(to right, #312768, #2e01d1);
  border: 0.5px solid white;
  border-radius: 23px;
  box-shadow: 2px 2px 5px rgb(163, 163, 163);
  color: white;
  display: flex;
  font-size: 17px;
  font-weight: 700;
  height: 25px;
  justify-content: center;
  padding: 18px 25px;
  text-decoration: none;
  text-transform: uppercase;
  width: 200px;
}
