@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap') ;

.page-search {
  background-color: #1f1f1f;
  display: flex;
  font-family: Epilogue , sans-serif;
  height: 100%;
  /* justify-content: center;
  align-items: center; */
}

.search {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search form {
  align-items: center;
  background: linear-gradient(to bottom, #0e0870, #292929);
  display: flex;
  height: 25vh;
  justify-content: center;
  padding: 15px 0;
  gap: 15px;
}

.imgLogoWhite {
  filter: blur(7px);
  left: 22vw;
  position: absolute;
  top: 5vh;
  transform: rotate(-5deg);
  width: 120px;
}

.search-input {
  background-color: #292929;
  border: 0.5px solid white;
  border-radius: 23px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  height: 30px;
  padding: 5px 0;
  text-align: center;
  width: 450px;
  margin: 0;
}

.search-btn {
  align-items: center;
  background: linear-gradient(to bottom right, #110b5f, #003be5);
  border: 0.5px solid white;
  border-radius: 23px;
  color: white;
  display: flex;
  font-size: 17px;
  font-weight: 700;
  height: 45px;
  justify-content: center;
  padding: 18px 25px;
  text-transform: uppercase;
  width: 200px;
}

.search-btn:hover {
  background: linear-gradient(to bottom right, #003be5, #110b5f);
}

.search-btn:active {
  background: linear-gradient(to bottom right, #003be5, #110b5f);
  transform: scale(0.9);
}

.results-search {
  background-color: #292929;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 0 20px;
}

.results-search h2, .results-search h1 {
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}

.cards-search {
  display: flex;
  flex-wrap: wrap;
}

.card-search {
  align-items: center;
  display: flex;
  flex-basis: 12%;
  flex-direction: column;
  flex-grow: 1;
  font-size: 18px;
  justify-content: center;
  margin: 12px;
}

.card-search img {
  border-radius: 10px;
  margin: 0;
  width: 250px;
}

.card-search h4 {
  margin: 8px;
}

.card-search p {
  font-size: 14px;
  margin: 0;
}

.card-search:hover {
  transform: scale(1.1);
}

.else-card {
  color: white;
}

.cards-search a {
  color: white;
  text-decoration: none;
}

.cards-search a:active {
  color: white;
}

.imgLogoWhiteback {
  filter: blur(7px);
  position: absolute;
  right: 19vw;
  top: 5vh;
  transform: rotate(-5deg);
  width: 160px;
}

@media screen and (min-width : 780px ) and (max-width : 1020px ) {
  .search-input {
    font-size: 13px;
    height: 30px;
    width: 350px;
  }
  
  .search-btn {
    font-size: 13px;
    height: 40px;
    width: 120px;
  }
}

@media screen and (max-width : 780px ) {

  .search form {
    flex-direction: column;
    gap: 15px;
  }

  .search-label {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .search-input {
    font-size: 12px;
    width: 60%;

  }
  
  .search-btn {
    font-size: 13px;
    height: 40px;
    width: 60%;
  }

  .imgLogoWhite {
    left: 82vw;
  }
}

