@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap') ;

.page-search {
  display: flex;
  font-family: Epilogue , sans-serif;
  height: 100vh;
}

.search {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search form {
  align-items: center;
  background: linear-gradient(to right, #2e01d1, #312768);
  display: flex;
  height: 25vh;
  justify-content: center;
  padding: 15px 0;
}

.imgLogoWhite {
  left: 18vw;
  position: absolute;
  top: 3vh;
  transform: rotate(-5deg);
  width: 180px;
}

.search-input {
  background-color: white;
  border: 0.5px solid white;
  border-radius: 23px;
  font-size: 20px;
  height: 30px;
  margin-right: 15px;
  padding: 5px 15px;
  width: 450px;
}

.search-btn {
  align-items: center;
  background: linear-gradient(to right, #312768, #2e01d1);
  border: 0.5px solid white;
  border-radius: 23px;
  color: white;
  display: flex;
  font-size: 17px;
  font-weight: 700;
  height: 45px;
  justify-content: center;
  padding: 18px 25px;
  text-transform: uppercase;
  width: 200px;
}

.results-search {
  background-color: rgb(228, 228, 228);
  display: flex;
  height: 75vh;
  justify-content: center;
}

.result-search h2 {
  display: flex;
  justify-content: center;
}

.cards-search {
  display: flex;
  flex-wrap: wrap;
}

.card-search {
  align-items: center;
  display: flex;
  flex-basis: 12%;
  flex-direction: column;
  flex-grow: 1;
  font-size: 18px;
  justify-content: center;
  margin: 12px;

  /* padding: 5px 15px; */
}

.card-search img {
  border-radius: 10px;
  margin: 0;
  width: 250px;
}

.card-search h4 {
  margin: 8px;
}

.card-search p {
  font-size: 14px;
  margin: 0;
}

.else-card {
  color: #2e01d1;
}
